<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Lista contatti</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="container">
    <div class="list-container">
        <h2>Lista contatti</h2>
        <div th:if="${#lists.isEmpty(contacts)}">Non sono presenti
            contatti da visualizzare.
        </div>
        <ul th:if="${not #lists.isEmpty(contacts)}" class="list-group">
            <li th:each="c : ${contacts}" class="list-group-item"><span
                    class="glyphicon glyphicon-user" aria-hidden="true"></span> <a
                    th:href="@{'/contacts/' + ${c.id}}" th:text="${c.name}"></a></li>
        </ul>
    </div>
</div>
<nav>
    <a class="btn btn-default" th:href="@{/}">Home</a>
</nav>
</body>
</html>